<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinize!</h1>
    <%pg = PigLatinizer.new%>
    <h2><%=pg.piglatinize(@phrase)%></h2>
  </body>
</html>
