<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Piglatinized Text</h1>
    <h2>Here is your phrase Piglatinized: <%= @piglatinized_phrase %></h2>
  
  </body>
</html>